@page
@model GameCollection.Pages.Admin.Genre.IndexModel
@{
}

<h1>Game Genre Types</h1>
<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <a asp-page="Upsert" class="btn btn-primary py-2 px-4 text-white"><i class="fas fa-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" id="DT_load">
    <thead>
        <tr>
            <th class="text-white">
                Game Genre
            </th>
            <th class="text-white">
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script src="~/js/gamegenre.js"></script>
}