@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">

    @foreach (var genre in Model.GameGenreList)
    {
        <div class="col-lg-4">

            <div class="image-wrap-2">
                <div class="image-info">
                    <h2 class="mb-3">@genre.Name</h2>
                    <a asp-page="Details" class="btn btn-outline-white py-2 px-4" asp-route-id="@genre.Id">Games</a>
                </div>
                <img src="@genre.Image" class="img-fluid" />
            </div>

        </div>
    }
</div>